.header {
  position: fixed;
}

.header-backup {
  height: 1rem;
  width: 98vw;
}

.sidenav {
  width: 200px;
  height: calc(100vh - 3rem);
  position: fixed;
  top: 3rem;
}

.container {
  width: calc(100vw - 200px);
  height: calc(100vh - 3.3rem);
  overflow: hidden;
  margin-left: 200px;
  margin-top: 2rem;
}
