<h2 class="table-title">{{day === 1 ? '24小时内' : (day + '天内') }}搜索量TOP5</h2>
<div class="table-container mat-elevation-z8">
  <mat-table #table [dataSource]="data">

    <!-- Position Column -->
    <ng-container matColumnDef="关键词">
      <mat-header-cell *matHeaderCellDef><p class="table-header">关键词</p></mat-header-cell>
      <mat-cell *matCellDef="let element"><p class="item-title">{{element.key}}</p></mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="搜索次数">
      <mat-header-cell *matHeaderCellDef><p class="table-header">搜索次数</p></mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.times}}</mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="更多操作">
      <mat-header-cell *matHeaderCellDef><p class="table-header">更多操作</p></mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.lastTime}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
