.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-left: 3px;
}

.mat-table {
  overflow: auto;
  max-height: calc(100vh - 9.4rem);
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.table-title {
  text-align: center;
}

.table-header {
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.mat-cell {
  text-align: center;
}

.item-title {
  text-align: justify-all;
}

.item-cover {
  /*display: inline-block;*/
  width: 80px;
  margin: 10px 0;
  height: 80px;
}
